.skillset-parent {
  background: #515d6b;
  width: 20%;
  min-width: 150px;
  border-right: 4px solid white;

  .skillset-parent-header {
    text-align: center;
  }

  li {
    color: white;
  }

  h3 {
    font-family: Consolas;
    font-size: 18px;
    color: orangered;
  }
}
