.details-parent {
  background: whitesmoke;
  width: 80%;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-family: Roboto;

  .red-border {
    border-bottom: 4px solid red;
    padding-bottom: 16px;
  }

  h3 {
    padding: 0;
    margin-top: 0;
    color: #192a56;
    font-family: Consolas;
  }

  .experience-section {
    height: 50%;

    .experience-header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #dcdde1;
      border-radius: 5px;
      padding: 5px 0;

      div {
        text-align: center;
        font-size: 12px;
        font-family: Verdana, Geneva, sans-serif;
      }
    }
  }
}
