.profile-header {
  background-color: #192a56;
  color: white;
  padding: 30px;
  font-size: 64px;
  border-bottom: 2px white solid;
  text-align: left;

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 20%;
    top: -10%;
    left: -15%;
    background: rgba(255, 255, 255, 0.3);
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.3)
    );
    transform: rotate(345deg);
  }

  .role {
    font-size: 24px;
    margin-left: 5px;
  }
}
